<!-- <h1>id</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
<nav class="navbar">
  <div class="nav-items">
    <h1 class="logo">000X</h1>
    <ul class="desktop-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="">About me</a></li>
      <li><a href="">Contact me</a></li>
      <div>
        <button>Login</button>
      </div>
    </ul>

    <i class="fa fa-bars"></i>
    <i class="fa fa-close"></i> 
       
  </div>

  <ul class="mobile-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="">About me</a></li>
    <li><a href="">Contact me</a></li>
    <div>
      <button>Login</button>
    </div>
  </ul>
</nav>
